* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  background-color: #000;
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: antiquewhite;
}

.quadrado {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: white; 
  display: flex;
  align-items: center;
  background-position: center;
}

button {
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #1014e1;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px;
}

.vermelho {
  background: #ed0c0c;
}

.verde {
  background: #1f8c1f;
}

.amarelo {
  color: #000000;
  background: #f2f208;
}

.bottom {
  background-color: #000000; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
  background-size: 40px 40px;
  background-image: url('../images/logo.png');  
  background-position: center;   
  background-size: cover;
}

@media (max-width: 800px) {
  .top h1 {
      font-size: 65px;
  }

}

@media (max-width: 600px) {
  .top h1 {
      font-size: 35px;
  }

}